.skillset{
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 10%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden; 
      animation-delay: 2s; 
}
.myskills{
        font-size: 50px;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 300;
        margin-top: 0;
        margin-left: 1.5%;
        position: relative;
        margin-bottom: 40px;
        left: -10px; 
        border-color: #8fa0be;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    &__skill {
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.6rem;
      background: rgba(rgb(166, 2, 150),1);
      border-radius: 3px;
      font-weight: 600;
      color: #ffffff;
    }
  }